#search_div {
    width: 40%;
    /*height: 30px;*/
    margin: 30px auto;
    font-size: 16px;
}
.search-input{
    height: 30px;
    border-radius: 4px;
    width:300px;
    border: 1px solid #999;
    padding: 0 5px;

}
.search-label{
    color: #666;
}
.btn-content{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
#search_div button {
    width: 60px;
    height: 30px;
    font-size: 14px;
    background: #fe5862;
    color: #fff;
    border-style: none;
    border-radius: 4px;
}

#container {
    margin: 30px auto;
}
#container th, td {
    width: 80px;
    height: 35px;
    text-align: center;
}
.wid_td {
    width: 400px !important;
}